.Feed {
  display: flex;
  flex-direction: column;

  .FeedPost {
    width: 100%;
    height: auto;
    min-height: 200px;
    margin-bottom: 25px;

    transition: box-shadow 0.3s;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);

    .card-content {
      margin-bottom: 60px;
      .title {
        font-size: 2rem;
      }
      p > a {
        &:hover,
        &:active,
        &:focus {
          text-decoration: underline;
        }
      }
    }
    .card-action {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: auto;
      display: flex;
      justify-content: space-between;

      .info {
        display: flex;
        flex-direction: row;

        img {
          height: 36px;
          width: 36px;
          user-select: none;
          -webkit-user-drag: none;
        }

        &.hide-on-small-only {
          div {
            height: 36px;
            width: auto;

            margin: 0 12px;

            display: flex;
            flex-direction: column;

            &:nth-child(2) {
              min-width: 135px;
            }

            span:first-child {
              color: $grey;
              font-size: 12px;
              line-height: 16px;
            }
            span:last-child {
              color: $black-accent;
            }
          }
        }
        &.hide-on-med-and-up {
          div {
            height: 36px;
            margin: 0 6px;
            display: flex;
            flex-direction: column;

            span {
              font-size: 12px;
            }
          }
        }
      }

      .btn-flat {
        color: $black-accent !important;
        margin-right: 0 !important;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
    }
  }
}
