.Post {
  position: static;
  margin: 0.5rem 0 1rem 0;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);

  > h1 {
    padding: 24px;
    margin-bottom: -12px;
  }

  .details {
    position: relative;
    height: 88px;
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    border-bottom: 1px solid rgba(160, 160, 160, 0.2);
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
      height: 64px;
      width: 64px;
      margin: 0 18px;
    }
    > div {
      display: flex;
      flex-direction: column;
      margin: 0 18px;

      span:first-child {
        color: $grey;
        font-size: 13px;
      }
      span:last-child {
        color: $black-accent;
        font-size: 16px;
      }

      &:nth-child(2) {
        margin-left: 6px;
      }
    }
    .share {
      position: absolute;
      right: 0;

      div:first-child {
        color: $grey;
        font-size: 13px;
      }

      div:last-child {
        input {
          width: 220px;
          height: 24px;
          line-height: 24px;
          font-size: 14px;
        }
        i {
          user-select: none;
          -webkit-user-drag: none;
          cursor: pointer;
          margin-left: 4px;
        }
      }
    }
  }

  .content-styled {
    padding: 24px;
  }

  .goBack {
    position: fixed;
    left: 25px;
    bottom: 25px;
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
    width: 40px;
    height: 40px;
    font-size: 40px;
    line-height: 40px;
    color: $black-accent;
    transition: color 0.3s;
    &:hover,
    &:active,
    &:focus {
      color: $grey-darken-3;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Hind", "Open Sans", sans-serif;
    font-weight: 800;
  }
}
