.content-styled {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Hind", "Open Sans", sans-serif;
    font-weight: 800;
  }

  p {
    font-size: 1.1rem;
    padding: 8px 0;
  }

  a {
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
    }
  }

  img {
    height: 64px;
    width: auto;
  }
}
